p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-width: 340px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 340px) {
  .container {
    width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

body {
  font-family: 'Satoshi Variable';
  background-color: var(--body);
  margin: 0;
  padding: 0;
}

:root {
  --body:#141414;
  --block:#262626;
  --white: #ffffff;
  --white-gray: #D9D9D9;
}

.header {
  padding-top: 21px;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .section_name {
    width: 342px;
  }
}

.header_name {
  text-align: right;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: var(--white);
}

@media screen and (min-width: 1200px) {
  .header_name {
    text-align: right;
    font-size: 80px;
    line-height: 108px;
    padding-right: 135px;
  }
}

@media screen and (min-width: 1400px) {
  .header_name {
    padding-right: 0;
  }
}

.header_jobName {
  text-align: right;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
}

@media screen and (min-width: 1200px) {
  .header_jobName {
    font-size: 40px;
    line-height: 54px;
    padding-right: 135px;
  }
}

@media screen and (min-width: 1400px) {
  .header_jobName {
    text-align: right;
    padding: 0;
  }
}

.header_list_icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 33px;
}

@media screen and (min-width: 1200px) {
  .header_list_icon {
    justify-content: left;
    top: 114px;
    padding-left: 135px;
    margin: 0;
    position: absolute;
  }
}

@media screen and (min-width: 1400px) {
  .header_list_icon {
    justify-content: left;
    padding: 0;
  }
}

.header_item_icon:not(:last-child) {
  margin-right: 42px;
}

.header_svg {
  fill: rgba(255, 255, 255, 0.45);
}

.header_svg:hover {
  fill: #FFFFFF;
}

.main_section {
  padding-top: 42px;
  padding-bottom: 64px;
}

@media screen and (min-width: 1200px) {
  .main_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -24px;
    margin-bottom: -24px;
  }
}

.main_item {
  width: 342px;
  height: 316px;
  background-color: var(--block);
  position: relative;
}

@media screen and (min-width: 1200px) {
  .main_item {
    width: calc(100% / 3 - 24px);
    margin-left: 24px;
    margin-bottom: 24px;
    width: 450px;
    height: 416px;
    display: inline-block;
  }
  .main_item:hover .one_img {
    transition: 1s;
    transform: scale(1.2);
  }
  .main_item:hover .two_img {
    transition: 1s;
    transform: scale(1.2);
  }
  .main_item:hover .three_img {
    transition: 1s;
    transform: scale(1.2);
  }
  .main_item:hover .main-text {
    transition: 1s;
  }
  .main_item:hover .main_projectName {
    transition: 1s;
  }
  .main_item:nth-child(6) {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(12px);
  }
}

@media screen and (max-width: 1199px) {
  .main_item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .main_item:nth-child(6) {
    display: none;
  }
}

.main_item-blur {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(12px);
}

.main-text {
  padding-top: 26px;
  padding-right: 27px;
}

@media screen and (min-width: 1200px) {
  .main-text {
    padding-top: 35px;
    padding-right: 35px;
  }
}

.name_items {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--white-gray);
  padding-top: 3px;
  text-align: center;
}

.main_list_names {
  display: flex;
  justify-content: right;
}

.border_items {
  width: 49px;
  height: 22px;
  border: 1px solid var(--white-gray);
  border-radius: 50px;
}

.border_items:not(:last-child) {
  margin-right: 9px;
}

.main_text_p {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  color: var(--white);
  text-align: center;
  padding-top: 104px;
}

@media screen and (min-width: 320px) {
  .main_div_img {
    width: 288px;
    height: 162px;
    padding-top: 31px;
    padding-left: 26px;
  }
  .main_div_img .main_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-image: url(/images/Frame_mobile.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main_div_img {
    width: 320px;
    height: 180px;
    padding-top: 63px;
    padding-left: 65px;
  }
  .main_div_img .one_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-image: url(../images/img-1.jpg);
  }
  .main_div_img .one_img:hover {
    transition: 1s;
    transform: scale(1.2);
  }
  .main_div_img .two_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-image: url(/images/img-2.jpg);
  }
  .main_div_img .two_img:hover {
    transition: 1s;
    transform: scale(1.2);
  }
  .main_div_img .three_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-image: url(/images/img-3.jpg);
  }
  .main_div_img .three_img:hover {
    transition: 1s;
    transform: scale(1.2);
  }
}

.main_projectName {
  display: inline-block;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--white-gray);
  padding-top: 30px;
  padding-left: 27px;
}

@media screen and (min-width: 1200px) {
  .main_projectName {
    padding-left: 35px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1200px) {
  #close_text {
    opacity: 0;
  }
}

#open_text:hover #close_text {
  opacity: 1;
}

.footer {
  padding-bottom: 32px;
}

.footer_list {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer_icon_email {
  width: 64px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.footer_icon_email:not(:last-child) {
  margin-right: 16px;
}

.footer_icon_email:hover {
  width: 146px;
  background: #FFFFFF;
  box-shadow: 0px 1px 24px #9161B5;
  border-radius: 2.42424e+07px;
}

.footer_icon_tel {
  width: 64px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.footer_icon_tel:not(:last-child) {
  margin-right: 16px;
}

.footer_icon_tel:hover {
  width: 207px;
  background: #FFFFFF;
  box-shadow: 0px 1px 24px #9161B5;
  border-radius: 2.42424e+07px;
}

.link_email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
}

.emailme {
  display: none;
}

.footer_icon_email:hover .emailme {
  display: block;
  padding-left: 15px;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #262626;
}

.telme {
  display: none;
}

.footer_icon_tel:hover .telme {
  display: block;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #262626;
}

.link_tel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
}

.footer_svg {
  fill: var(--white);
}

.footer_icon_tel:hover .footer_svg {
  fill: var(--block);
}

.footer_icon_email:hover .footer_svg {
  fill: var(--block);
}

.footer_btn-up:hover .footer_svg {
  fill: var(--block);
}

.footer_btn-up {
  width: 64px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  justify-content: right;
  position: absolute;
  right: 0;
}

.footer_btn-up:hover {
  background: #FFFFFF;
  box-shadow: 0px 1px 24px #9161B5;
}

@media screen and (max-width: 1199px) {
  .footer_btn-up {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer_btn-up {
    margin-right: 140px;
  }
}
/*# sourceMappingURL=main.css.map */