.footer{
    padding-bottom: 32px;
}

.footer_list{
    position: relative;
    display: flex;
    justify-content: center;
}

.footer_icon_email{
    width: 64px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    
    &:not(:last-child){
        margin-right: 16px;
    }
    &:hover{
        width: 146px;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px #9161B5;
        border-radius: 2.42424e+07px;
    }
}

.footer_icon_tel{
    width: 64px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    
    &:not(:last-child){
        margin-right: 16px;
    }
    &:hover{
        width: 207px;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px #9161B5;
        border-radius: 2.42424e+07px;
    }
}


.link_email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;

}


.emailme{
    display: none;
    .footer_icon_email:hover &{
    display: block;
    padding-left: 15px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
   }
}

.telme{
    display: none;
    .footer_icon_tel:hover &{
    display: block;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    }
}

.link_tel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
}

.footer_svg{
    fill: var(--white);

    .footer_icon_tel:hover &{
        fill: var(--block);
    }
    .footer_icon_email:hover &{
        fill: var(--block);
    }

    .footer_btn-up:hover &{
        fill: var(--block);
    }
}



.footer_btn-up{
    width: 64px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    justify-content: right;
    position: absolute;
    right: 0;
    &:hover{
        background: #FFFFFF;
        box-shadow: 0px 1px 24px #9161B5;
    }
    @media screen and (max-width:1199px) {    
        display: none;
    }

    @media screen and (min-width:1200px) and (max-width:1399px) {    
        margin-right: 140px;
    }

}



