.main_section{
    padding-top: 42px;
    padding-bottom: 64px;
}

.main_list{
    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -24px;
        margin-bottom: -24px;
    }
}

.main_item{
    width: 342px;
    height: 316px;
    background-color: var(--block);
    position: relative;

    @media screen and (min-width:1200px) {
        width: calc(100% / 3 - 24px);
        margin-left: 24px;
        margin-bottom: 24px;
        width: 450px;
        height: 416px;
        display: inline-block;
        &:hover .one_img{
            transition: 1s;
            transform: scale(1.2);
        }
        &:hover .two_img{
            transition: 1s;
            transform: scale(1.2);
        }
        &:hover .three_img{
            transition: 1s;
            transform: scale(1.2);
        }
        &:hover .main-text{
            transition: 1s;
        }
        &:hover .main_projectName{
            transition: 1s;
        }

        &:nth-child(6){
            background: rgba(255, 255, 255, 0.01);
            backdrop-filter: blur(12px);
        }

    }

    &:not(:last-child){
        @media screen and (max-width:1199px) {
            margin-bottom: 20px;            
        }
    }

    &:nth-child(6){
        @media screen and (max-width:1199px) {
            display: none;            
        }

    }

}

.main_item-blur{
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(12px);
}

.main-text{
        padding-top: 26px;
        padding-right: 27px; 
        @media screen and (min-width:1200px) {
            padding-top: 35px;
            padding-right: 35px;
        }   
}


.name_items{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--white-gray);
    padding-top: 3px;
    text-align: center;
}

.main_list_names{
    display: flex;
    justify-content: right;  
}

.border_items{
    width: 49px;
    height: 22px;
    border: 1px solid var(--white-gray);
    border-radius: 50px;
    &:not(:last-child){
        margin-right: 9px;
    }
    
}



.main_text_p{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: var(--white);
    text-align: center;
    padding-top: 104px;
}



.main_div_img{
    @media screen and (min-width:320px) {
        width: 288px;
        height: 162px;
        padding-top: 31px;
        padding-left: 26px;
        & .main_img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-image: url(/images/Frame_mobile.jpg
            );
        }
    }
    @media screen and (min-width:1200px) {
        width: 320px;
        height: 180px;
        padding-top: 63px;
        padding-left: 65px;
        & .one_img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
            &:hover{
                transition: 1s;
                transform: scale(1.2);
            }
            background-image: url(../images/img-1.jpg);
        }
        & .two_img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
            &:hover{
                transition: 1s;
                transform: scale(1.2);
            }
            background-image: url(/images/img-2.jpg);
        }
        & .three_img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
            &:hover{
                transition: 1s;
                transform: scale(1.2);
            }
            background-image: url(/images/img-3.jpg);
        }
    }

}

.main_projectName{
    display: inline-block;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--white-gray);
    padding-top: 30px;
    padding-left: 27px;

    @media screen and (min-width:1200px) {
        padding-left: 35px;
        padding-top: 40px;
        font-size: 20px;
        line-height: 27px;
    }

}


#close_text{
    @media screen and (min-width:1200px) {
        opacity: 0;        
    }
        
}

#open_text:hover #close_text{
        opacity: 1;        
}