.main_section{
    padding-top: 42px;
    padding-bottom: 64px;
}

.main_list{
    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -24px;
        margin-bottom: -24px;
    }
}

.main_item{
    width: 342px;
    height: 316px;
    background-color: var(--block);
    &:not(:last-child){
        margin-bottom: 20px;
    }

    @media screen and (min-width:1200px) {
        width: calc(100% / 3 - 24px);
        margin-left: 24px;
        margin-bottom: 24px;
        width: 450px;
        height: 320px;
        display: inline-block;

        &:nth-child(6){
            width: 450px;
            height: 320px;
            background: rgba(255, 255, 255, 0.01);
            backdrop-filter: blur(12px);
        }
        &:hover .name_items{
            visibility: visible;
        }
        &:hover .main_projectName{
            visibility: visible;
        }
    }


}

.main_item-blur{
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(12px);
}

.main-text{
        visibility: hidden;
        text-align: right;
        padding-right: 60px;        
    }

.name_items{
    display: inline-block;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--white-gray);
    text-align: center;
    padding: 2.5px;

    &{
    width: 41px;
    height: 22px;
    border: 1px solid var(--white-gray);
    border-radius: 50px;
    }
    @media screen and (min-width:1200px){
        visibility: hidden;
        &:not(:last-child){
            margin-right: 10px;
            margin-top: 15px;
        }
    }
}



.main_text_p{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: var(--white);
    text-align: center;
}


.main_img{
    padding-top: 30px;
    margin: 0 auto;
    transition: 1s;
    align-items: center;
    &:hover{
        transform: scale(1.05);
    }

    @media screen and (min-width:1200px){
        &:hover{
            transform: scale(1.15);
        }
    }
}


.main_projectName{
    display: inline-block;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--white-gray);
    padding-top: 20px;
    padding-left: 12px;
    visibility: hidden;

    @media screen and (min-width:1200px) {
        padding-left: 64px;
        font-size: 20px;
        line-height: 27px;

    }

}


