.container {
    width: 100%;
    min-width: 340px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and(min-width: 340px) {
        width: 340px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
    }

    @media screen and (min-width:1400px) {
        width: 1400px;
    }
}